.trendingFilms {
  background-color: rgb(24, 23, 23);
  position: relative;
}

#imgTrendingFilm {
  width: 100%;
  box-shadow: 0 0 15px orange;
}

.butLeft {
  position: absolute;
  top: 45%;
  background-color: transparent;
  border: none;
  left: 1%;
  color: white;
}

.butLeft:hover {
  font-size: 1.2em;
}

.butRight {
  position: absolute;
  top: 45%;
  background-color: transparent;
  border: none;
  right: 1%;
  color: white;
}

.butRight:hover {
  font-size: 1.2em;
}
