.filmInfoCont {
  margin-top: 2%;
  border-style: solid;
  border-color: orange;
  display: flex;
  border-radius: 2vw;
  margin: 2%;
  padding: 2%;
  width: 70%;
  margin-left: 12%;
  box-shadow: 0 0 15px orange;
}

.loaderZone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  margin-left: 0%;
}

.textCont {
  width: 50%;
  margin-left: 10%;
}

.imageCont {
  width: 50%;
  margin-left: 10%;
  border-radius: 2vw;
}

.imageCont img {
  width: 70%;
  border-radius: 2vw;
  box-shadow: 0 0 15px orange;
}

.imageCont img:hover {
  box-shadow: 0 0 30px orange;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

p {
  color: white;
  font-size: 1.1em;
}

@media only screen and (max-width: 450px) {
  .filmInfoCont {
    margin-top: 4%;
    border-style: solid;
    border-color: orange;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 2vw;
    padding: 2%;
    width: 70%;
    margin-left: 12%;
  }
  .loaderZone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    margin-left: -15%;
  }

  .textCont {
    width: 100%;
    margin-left: 1%;
  }

  .imageCont {
    width: 100%;
    margin-left: 10%;
    margin-top: 5%;
  }

  .imageCont img {
    width: 90%;
  }

  h1 {
    color: white;
  }

  h2 {
    color: white;
  }

  p {
    color: white;
    font-size: 1.1em;
  }
}
