#addNewFilm {
  width: 100%;
  height: 300vh;
  position: absolute;
  top: 0%;
  /* background-color: red; */
  /* border: 5px solid red; */
  z-index: 200;
}

.inputsCont {
  width: 70%;
  flex-direction: column;
  margin-left: 2.3%;
  display: flex;
  z-index: 4;
}

.addMovieTitle {
  border: none;
  background-color: rgb(24, 23, 23);
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 0.8%;
  padding-bottom: 0.8%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 2vw;
  position: fixed;
  top: 89%;
  left: 94.3%;
  z-index: 100;
  border: 2px solid orange;
}

.addMovieTitle:hover {
  font-size: 1.6em;
}

#inputMovieUrl {
  padding: 1%;
  background-color: rgb(24, 23, 23);
  padding: 1.5%;
  border-radius: 1vw;
  border-style: solid;
  border-color: white;
  font-size: 0.9em;
  width: 60%;
  color: white;
  margin-bottom: 2%;
}

#inputMovieUrl:hover {
  border-color: orange;
}
#inputMovieTitle {
  padding: 1%;
  background-color: rgb(24, 23, 23);
  padding: 1.5%;
  border-radius: 1vw;
  border-style: solid;
  border-color: white;
  font-size: 0.9em;
  width: 60%;
  color: white;
  margin-bottom: 2%;
}

#inputMovieTitle:hover {
  border-color: orange;
}

.yearAndSubmitCont {
  display: flex;
}

#inputSinopsis {
  padding: 1%;
  background-color: rgb(24, 23, 23);
  padding: 1.5%;
  border-radius: 1vw;
  border-style: solid;
  border-color: white;
  font-size: 0.9em;
  width: 60%;
  color: white;
  margin-bottom: 2%;
}

#inputMovieYear {
  padding: 1%;
  background-color: rgb(24, 23, 23);
  padding: 1.5%;
  border-radius: 1vw;
  border-style: solid;
  border-color: white;
  font-size: 0.9em;
  width: 30%;
  color: white;
  margin-bottom: 2%;
}
#inputMovieYear:hover {
  border-color: orange;
}

.submitBtn {
  background-color: transparent;
  color: white;
  width: 10%;
  border: none;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 0%;
  padding-right: 0%;
  margin-bottom: 1%;
  border-radius: 50%;
}

.submitBtn:hover {
  color: orange;
}

.formCont {
  width: 60%;
  display: flex;
  border-style: solid;
  border-color: orange;
  padding: 2%;
  border-radius: 2vw;
  justify-content: center;
  margin-left: 20%;
  position: fixed;
  top: 30%;
  background-color: rgb(24, 23, 23);
  z-index: 300;
}
.preview {
  border-color: rgb(255, 166, 0);
  border-style: solid;
  border-radius: 2vw;
  margin-left: 0%;
  width: 15%;
  background-color: transparent;
  position: relative;
}

.preview img {
  width: 100%;
  height: 100%;
  border-radius: 1.8vw;
}

.closeCont {
  position: relative;
  width: 10%;
}

.closeBtn {
  border: none;
  background-color: rgb(24, 23, 23);
  color: white;
  font-weight: bold;
  font-size: 1em;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 1.2vw;
  position: absolute;
  right: -25%;
  top: -8%;
}

.closeBtn:hover {
  color: orange;
}

@media only screen and (max-width: 450px) {
  .inputsCont {
    width: 70%;
    flex-direction: column;
    margin-left: 2.3%;
    display: flex;
  }

  .addMovieTitle {
    border: none;
    background-color: rgb(24, 23, 23);
    color: white;
    font-weight: bold;
    font-size: 2.2em;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    padding-left: 2.7%;
    padding-right: 2.7%;
    border-radius: 10vw;
    position: fixed;
    top: 89%;
    left: 80%;
    z-index: 100;
    border: 2px solid orange;
  }

  .addMovieTitle:hover {
    border: none;
    background-color: rgb(24, 23, 23);
    color: white;
    font-weight: bold;
    font-size: 2.5em;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2.8%;
    padding-right: 2.8%;
    border-radius: 10vw;
    position: fixed;
    top: 89%;
    left: 80%;
    z-index: 100;
    border: 2px solid orange;
  }

  #inputMovieUrl {
    padding: 1%;
    background-color: rgb(24, 23, 23);
    padding: 1.5%;
    border-radius: 1vw;
    border-style: solid;
    border-color: white;
    font-size: 0.9em;
    width: 80%;
    color: white;
    margin-bottom: 2%;
  }

  #inputMovieUrl:hover {
    border-color: orange;
  }
  #inputMovieTitle {
    padding: 1%;
    background-color: rgb(24, 23, 23);
    padding: 1.5%;
    border-radius: 1vw;
    border-style: solid;
    border-color: white;
    font-size: 0.9em;
    width: 75%;
    color: white;
    margin-bottom: 2%;
  }

  #inputMovieTitle:hover {
    border-color: orange;
  }
  #inputSinopsis {
    padding: 1%;
    background-color: rgb(24, 23, 23);
    padding: 1.5%;
    border-radius: 1vw;
    border-style: solid;
    border-color: white;
    font-size: 0.9em;
    width: 70%;
    color: white;
    margin-bottom: 2%;
  }

  #inputMovieYear {
    background-color: rgb(24, 23, 23);
    border-radius: 1vw;
    border-style: solid;
    border-color: white;
    font-size: 0.9em;
    width: 30%;
    color: white;
    margin-bottom: 2%;
  }

  .yearAndSubmitCont {
    display: flex;
  }

  .submitBtn {
    background-color: transparent;
    color: white;
    width: 8%;
    border: none;
    border-radius: 50%;
    margin: 4%;
  }

  .formCont {
    width: 70%;
    display: flex;
    border-style: solid;
    border-color: orange;
    padding: 2%;
    border-radius: 2vw;
    justify-content: center;
    margin-left: 13%;
  }

  .preview {
    border-color: rgb(255, 166, 0);
    border-style: solid;
    border-radius: 2vw;
    margin-left: 0%;
    margin-bottom: 1%;
    width: 30%;
    background-color: transparent;
  }

  .preview img {
    width: 100%;
    height: 100%;
    border-radius: 2vw;
  }

  .closeBtn {
    border: none;
    background-color: rgb(24, 23, 23);
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 1.2vw;
    position: absolute;
    right: -10%;
    top: 0%;
  }
}
